.app {
  display: grid;
  grid-template-rows: 25% auto; 
  width: 320px;
  height: 520px;
  background-color: #dbe6e1;
  row-gap: 1.5px;
}

.display-container {
  background-color: #000000;
  height: 100%;
  width: 100%;
}

.btns-container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  column-gap: 1.5px;
  row-gap: 1.5px;
}
