.app {
  display: grid;
  grid-template-rows: 25% auto; 
  width: 298px;
  height: 480px;
  background-color: #d4eeff;
  row-gap: 1.5px;
}

.display-container {
  display: flex;
  width: 288px;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5rem;
  background-color: #000000;
  color: #fc0000;
  font-size: 5.5em;
}

.btns-container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  column-gap: 1.5px;
  row-gap: 1.5px;
}
