.app {
  display: grid;
  grid-template-rows: 25% auto; 
  width: 320px;
  height: 520px;
  background-color: #dbe6e1;
  row-gap: 1.5px;
}

.display-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 0.5rem;
  background-color: #000000;
  color: #ffffff;
  font-size: 5rem;
}

.btns-container {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(4, 1fr);
  column-gap: 1.5px;
  row-gap: 1.5px;
}
